@charset "utf-8";

body {
  background-color: beige;
  height: 1500px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  padding: 30px 50px;
}

form {
  border: none;
}
select {
  width: 100px;
  height: 50px;
  padding: 0 10px;
  margin-right: 10px;
}
.divider {
  margin-right: 10px;
}
input {
  width: 100px;
  height: 46px;
  margin-right: 10px;
  padding: 0 10px;
  box-sizing: border-box;
}
.subimt {
  width: 100px;
  height: 47px;
  box-sizing: border-box;
  margin-left: 10px;
  background-color: #333;
  color: #fff;
}

.qr {
  width: 85%;
  margin: 40px auto;
  background-color: rgb(237, 237, 237);
}
.qr img {
  display: block;
  padding: 60px;
  margin: 0 auto;
}
p {
  font-size: 14px;
  color: #ccc;
  width: 400px;
  margin: 0 auto;
}

.bg {
  display: none;
  width: 100%;
  height: 2000px;
  background-color: #333;
  opacity: 0.6;
}
.close {
  position: absolute;
  top: 30px;
  right: 34px;
  width: 35px;
  height: 35px;
  background: url(../modal/images/close-btn.png) no-repeat;
}

.open {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  width: 250px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  border: none;
  box-sizing: border-box;
}

.container {
  display: block;
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  border: 1px solid #f0ecec;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 1px 10px 10px rgb(148, 146, 146);
}

.modal {
  width: 100%;
}
h2,
strong {
  padding: 30px 50px;
}
