@charset "utf-8";

body {
  background-color: beige;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
}
.clock {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 180px;
  left: 330px;
  width: 700px;
}

.time {
  font-size: 150px;
  color: #333;
}
